* text=auto eol=lf

# Linux
*.bash text eol=lf
*.sh text eol=lf
bash_* text eol=lf
bashrc text eol=lf
gitconfig  text eol=lf
profile  text eol=lf
ssh_config  text eol=lf

# Windows
*.ps1 text eol=crlf
*.cmd text eol=crlf
*.preset text eol=crlf

# https://code.visualstudio.com/docs/remote/troubleshooting#_resolving-git-line-ending-issues-in-wsl-resulting-in-many-modified-files
*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf

# General
*.py    text eol=lf
*.txt   text eol=lf
*.md    text eol=lf
*.rst   text eol=lf
*.json  text eol=lf
