Host gist.github.com
	Hostname gist.github.com
    User git
    PreferredAuthentications publickey
    IdentityFile ~/.ssh/github_key

Host github.com
    Hostname github.com
    User git
    PreferredAuthentications publickey
    IdentityFile ~/.ssh/github_key

Host gitlab.com
    Hostname gitlab.com
    User git
    PreferredAuthentications publickey
    IdentityFile ~/.ssh/gitlab_key
